@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';

.container-wrapper {
    padding: 0 13.75rem 2rem;

    .container-title-wrapper {
        @include mixins.justifyItems();
        justify-content: flex-start;
        gap: .25rem;
    }

    .category-title {
        color: variables.$active-color;


        .container-title {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }


    .category-content {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;
    }

    .product-title {
        .container-title {
            font-size: 1.25rem;
            font-weight: 300;
            color: variables.$third-font-color;
        }
    }

    .product-title.return {
        display: flex;
        gap: 5rem;
        justify-content: center;
        align-items: center;



        span {
            .query-item {
                font-weight: 700;
            }
        }

        button.return {
            font-size: .75rem;
            color: variables.$active-color;
            border: 1px solid variables.$active-color;
            background-color: transparent;
            padding: .5rem 2rem;
            border-radius: variables.$card-border-radius;
            @include mixins.setTransition(background-color, 250ms);


        }

        .button.return:hover {
            background-color: variables.$active-color;
            color: variables.$sixth-font-color;
            @include mixins.setTransition(background-color, 250ms);
        }
    }

    .product-content {



        .product-scroller {
            display: grid;
            grid-template-columns: 1fr;

            @include mixins.desktop {
                grid-template-columns: repeat(5, 1fr);
                gap: 1.875rem;
            }
        }
    }

    .product-content.loading {
        @include mixins.justifyItems();
    }

    .campaign {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }

}

.container-wrapper.campaign {
    border-top: 1px solid variables.$button-border-color;
    padding-top: 2rem;
    padding-bottom: 6.8rem;
}

.container-wrapper.product-content {
    min-height: 50vh;
}