$base-color:#ffff;
$second-color:#F2F2F2;
$third-color:#F7F7F7;
$active-color:#044DC3;
$button-border-color:#E2E7E9;
$popup-bg-color:#F54257;
$campaign-shipment-bg-color:#FFEAE8;
$campaign-gift-bg-color:#E8F1FF;
$campaign-stationer-bg-color:#E2F7E1;

$primaryFontFamily:'Merriweather',serif;
$secondaryFontFamily: 'Source Sans Pro',sans-serif;


$fontSize-XL:20px;
$fontSize-L:15px;
$fontSize-M:14px;
$fontSize-S:13px;


$marginSize-M:8px;
$marginSize-L:12px;
$marginSize-XL:16px;
$marginSize-XXL:24px;


$active-type-font-color:#F2F0FD;
$first-font-color: #000000;;
$second-font-color:#555555;;
$third-font-color:#707070;;
$forth-font-color:#51B549;;
$fifth-font-color:#A8A8A8;
$sixth-font-color:#ffff;
$popup-font-color:#FFCE00;
$campaign-font-color:#E64E41;



$card-border-radius:10px;
$first-button-radius:22px;
