@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';


.card-container {
    @include mixins.setBorder(1px, solid, variables.$button-border-color, variables.$card-border-radius);
    padding: variables.$marginSize-L;
    display:flex;
    flex-direction: column;
    gap:.25rem;
    justify-content: center;
    align-items: center;
    @include mixins.widthAndHeight(auto, auto);
    transform: scale(1);
    @include mixins.setTransition(transform, 250ms );

    .card-image {
        height: 244px;
        border-radius: variables.$card-border-radius;

        img {
            @include mixins.widthAndHeight(100%, 100%);
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        text-align: left;
        width: 100%;

        .card-description,
        .card-shipment,
        .card-price {
            width: 100%;
            font-weight: 600;
            text-align: left;
           
        }

        .card-description {
            font-size: .9rem;
            line-height: 1.05rem;
            height: 2.25rem;
            color: variables.$second-font-color;
        }

        .card-shipment {
            font-size: .9rem;
            line-height: 0.8rem;
            height: 0.8rem;
            color: variables.$forth-font-color;
        }

        .card-price {
            font-size: 1rem;
            line-height: 0.8rem;
            height: 1.25rem;
            color: variables.$first-font-color;
        }

      

    }
    .card-button, .card-item-button {
        width: 100%;
        @include mixins.setBorder(1px, solid, variables.$button-border-color, 100px);
        padding:5px;
        .card-button-counter {
            @include mixins.justifyItemsBetween();
           
    
            button {
                background-color: #d6e6ff;
                @include mixins.justifyItems();
                color: variables.$active-color;
                @include mixins.widthAndHeight(1.875rem, 1.875rem);
                border-radius: 100px;
                border:none;
                font-size: 1.6rem;
                font-weight: 600;
                text-align: center;
            }
            button.minus{
                padding-bottom:.4rem;
            }
            span{
                color:variables.$second-font-color;
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
    }

    .card-item-button{
        padding:5px;
        font-size: 1rem;
        height: 2.625rem;
        font-weight: 600;
        color:variables.$active-color;
        border-color:variables.$active-color;
        background-color: transparent;
    }
}

.card-container:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    transform: scale(1.01);
    @include mixins.setTransition(transform, 250ms);
}