@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

.header {

    .header-up {
        padding: 0 13.75rem;
        height: 5rem;
        @include mixins.justifyItemsBetween();


    }

    .header-down {
        @include mixins.widthAndHeight(auto, 5rem);
        background-image: url('../../assets/header-mobile.png');
        background-size: 100% 100%;
        color: variables.$sixth-font-color;
        text-align: center;

        h1 {
            width: 100%;
            font: normal normal normal 35px/15px Source Sans Pro;
            letter-spacing: 0px;
        }

        padding:0;
        @include mixins.justifyItems();

        @include mixins.desktop {
            background-image: url('../../assets/header-desktop.png');
            text-align: left;
            padding:0 13.75rem;
        }
    }
}