@use '../../styles//mixins.scss';
@use '../../styles/variables.scss';

.footer-wrapper {
    background-color: variables.$second-color;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;

    @include mixins.tabletLandscape {
        padding: 2rem 6rem 0;
        min-height: 1000px;
    }

    @include mixins.desktopLg {
        padding: 2rem 13.75rem 0;
        min-height: 1000px;
    }

    .footer-up {

        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 330px;
        height: max-content;

        @include mixins.desktop {
            align-items: flex-end;
        }


        .mobile {
            @include mixins.justifyItems();
            flex-direction: column;
            background-color: variables.$base-color;
           
            @include mixins.widthAndHeight(100%, auto);
            overflow-y: visible;
            gap: .5rem;
            width: 100%;
                border-radius: 28px;


            @include mixins.desktop {
                @include mixins.widthAndHeight(100%, 222px);
                align-items: flex-end;
                width: 100%;
                flex-direction: row;
                border-radius: 111px;
            }

           

            img {
                width: 10rem;
                height: 10rem;

                @include mixins.desktop {
                    width: 22.5rem;
                    height: 22.5rem;
                }

            }

            .mobile-info {
                padding: 15px;

                @include mixins.desktop {
                    padding: 2rem;
                }


                .mobile-info-1 {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;
                    text-align: center;





                    @include mixins.desktop {
                        gap: 1.75rem;
                        text-align: left;
                        flex-direction: row;
                    }

                    img {
                        width: 3.75rem;
                        height: 3.75rem;
                    }

                    div {
                        padding-bottom: 1rem;
                    }
                }

                .mobile-info-2 {
                    @include mixins.justifyItems();
                    gap: 1rem;
                    flex-direction: column;





                    @include mixins.desktop {
                        flex-direction: row;
                        gap: 2rem;
                    }


                    .button {
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
    }

    .footer-middle {
        display: grid;
        grid-template-rows: max-content max-content;
        padding: 0;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        padding: 0;

        @include mixins.desktop {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: unset;
            padding: 3.25rem 0;
            align-items: flex-start;
        }


        justify-content: center;
        align-items: center;

        .social-media {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            text-align: center;
            gap: 1.5rem;

            @include mixins.desktop {
                justify-content: flex-start;
                padding-right: 3.75rem;
                    height: 100%;
                    align-items: flex-start;
                text-align: left;
                border-right: 1px dotted #9B9B9B;
            }

            .social-media-buttons {
                display: flex;
                gap: 2rem;

                button {
                    padding: 0;
                    border: none;

                }
            }
        }

        .footer-nav {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, max-content);
            justify-content: center;
            padding-left: 0;
            gap: 3rem;

            @include mixins.tabletPortrait{
                padding-left: 3.75rem;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: unset;
            }

            @include mixins.desktopLg {
                padding-left: 3.75rem;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: unset;
            }


            .footer-nav-item {
                h4 {
                    color: variables.$active-color;
                    text-align: center;
                    font-size: 1.125rem;
                    font-weight: 400;
                    margin-top: 0
                }

                ul {
                    padding: 0;
                    list-style: none;

                    li {
                        margin-bottom: .6rem;

                        a {
                            color: inherit;
                            text-decoration: none;
                            line-height: 1;

                            font-size: .9rem;

                        }
                    }
                }
            }
        }
    }

    .footer-explanation {
        font-size: .9rem;
        color: inherit;
        padding-bottom: 5rem;

        @include mixins.desktop {
            padding:0 2rem 9rem;
        }

    }

    .footer-band {
        position: absolute;
        bottom: 0;
        background-color: #e6e6e6;
        @include mixins.widthAndHeight(100%, 60px);
        @include mixins.justifyItems();
        margin-left: -15px;

        @include mixins.tabletLandscape{
            margin-left: -6rem;
        }

        @include mixins.desktopLg {
            margin-left: -13.75rem;
        }
    }
}