@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';

.search-bar-wrapper {
    width: 65%;
    min-width: 30vw;
    height: 50px;
    padding: 0;
    background-color: #EDF1F2;
    color: #555555;
    border-radius: 28px;
    display: flex;
    gap: .25rem;
    justify-content: space-between;
    position: relative;

    input {
        border: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        text-align: left;
        border-radius: 28px;
        padding-left: 45px;
        color: variables.$second-font-color;
        font-size: .9rem;

    }

    svg {
        margin: auto 0;
        position: absolute;
        left: 20px;
        top: 1rem;
    }

    .search-button {
        background-color: variables.$forth-font-color;
        color: variables.$sixth-font-color;
        border: 2px solid #EDF1F2;
        border-radius: 28px;
        font-size: 1.125rem;
        padding: .45rem 1.35rem;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .results {
        position: absolute;
        top: 103%;
        width: 100%;
        height: 300px;
        z-index: 99;
        overflow-y: scroll;
        border: 1px solid variables.$active-color;
        background-color: variables.$second-color;
        border-radius: 28px;
        padding: 0;
        box-shadow: 1px 1px 18px  rgba(0,0,0,.5);

        ul {
            list-style: none;
            padding-left: 0;

            :nth-child(odd) {
                background-color: variables.$base-color;
            }

            :nth-child(even) {
                background-color: variables.$third-color;
            }

            li {
                padding:0  2rem;
                width: 100%;
                text-align: left;
                height: 2.5rem;
                @include mixins.justifyItemsBetween();
                @include mixins.mobilePortrait{
                        font-size: .9rem;
                        padding:0 .75rem;
                        :nth-child(2){
                            text-align: right;
                        }
                }
                @include mixins.tabletPortrait {
                    font-size: .9rem;
                    padding: 0 .75rem;
                    :nth-child(2) {
                        text-align: right;
                    }
                }
                .category{
                    color:variables.$active-color;
                }
            }

            li:hover{
                background-color: variables.$button-border-color;
                cursor:pointer;
            }
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .results::-webkit-scrollbar {
        display: none;
    }
}